// spacing
$small-spacing: 5px;
$medium-spacing: 10px;
$large-spacing: 20px;

// colors
$primary-blue: #00a1e0;
$white: #ffffff;
$gray-500: #858585;
$gray-100: #ececec;
$gray-200: #dfdfdf;
$black: #000000;
$orange-300: #ff7332;
$orange-500: #b64900;
$green: #009425;
$red: #db0000;
